<div class="container">
    <div class="p-4 p-md-1 d-flex flex-column flex-md-row align-items-center">
        <div class="aaa p-4">uno</div>
        <div class="text-4xl text-lg-sm p-4">dos</div>
        <div class="text-sm text-lg-2xl p-4">tres</div>
        <div class="text-sm text-lg-2xl p-4 line-4xl">cuatro</div>
    </div>

    <div class="py-5">
        <h3 class="bbb color-red">La noche es oscura y</h3>
    </div>
    <div class="py-5">
        <a href="" class="hover-redstrong">La noche es oscura</a>
    </div>
</div>