<div class="d-flex flex-column">
    <a class="c-link-menu"  href="">label</a>
    <a class="c-link-menu c-link-menu--segundo"  href="">label</a>
    <a class="c-link-menu c-link-menu--tercero"  href="">label</a>
</div>