<div class="d-flex flex-column">
  {% include '@components/boton/boton.twig' with boton %}
  {% include '@components/titular-primer-nivel/titular-primer-nivel.twig' with titular %}
</div>
<p>{{'Prueba texto t' | t}}
